* {
    margin:0;
}
body{
    background-color: #2A2C2B;
}
.Title  {
    font-family: monospace;
    font-size: 60;
    text-align: center;
    padding-top: 35px;
    color: #BEDB39;
    background-color: #2A2C2B;
    padding-bottom: 35px;
}
.nav    {
    background-color: #9b1313;
    height:50px;
}
.nav ul{
    float: left;

    padding: 0px;
}
.nav>.navList   {
    margin-left: 2%;
}
.nav li {
    font-family: monospace;
    font-size: 25px;
    list-style:none;
    left:0%;
    padding: 10px;
    margin-right: 5px;
     color: #BEDB39;
    float: left;
    background-color: #9b1313;
}
.nav li:hover  {
    background-color: #c2090f;
}
.workList li   {
    width: 100%;
    position: relative;
}
.works:hover + .workByYear {
    display:block;
    width:auto;
    background-color: inh;
}
.workByYear:hover{
    display: block;
    position: relative;
}

.workByYear {
    display: none;
    position: relative;
    z-index: 1;
}
.contents   {
    width: 100%;
    position: absolute;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    color: #BEDB39;
    text-align: center;

}
.contents button    {
    width: 100px;
    height: 50px;
    background-color: rgb(81, 255, 0);
    border: 0;
    border-width: 0;
    color: black"";
    font-family: 'Courier New', Courier, monospace;
    vertical-align: middle;
}
.contents button:hover  {
    background-color: #9fb82f;
}