* {
    margin:0;
}
body{
    background-color: #2A2C2B;
}
.Title  {
    font-family: monospace;
    font-size: 60;
    text-align: center;
    padding-top: 35px;
    color: #BEDB39;
    background-color: #2A2C2B;
    height: 110px;
}
.nav    {
    background-color: #8C1C03;
    height:50px;
}
.nav ul{
    float: left;

    padding: 0px;
}
.nav>.navList   {
    margin-left: 2%;
}
.nav li {
    font-family: monospace;
    font-size: 25px;
    list-style:none;
    left:0%;
    padding: 10px;
     color: #BEDB39;
    float: left;
    background-color: #8C1C03;
}
.nav li:hover  {
    background-color: #94090D;
}
.workList li   {
    width: 100%;
}
.works:hover + .workByYear {
    display:block;
    width:auto;
    background-color: #F06115;
}
.workByYear:hover{
    display: block;
    position: relative;
}

.workByYear {
    display: none;
    position: relative;
}
.contents   {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    color: #BEDB39;
    text-align: center;
}