h1  {
    font-family: monospace;
    font-size: 48;
    text-align: center;
}
.nav li {
    float: left;
    opacity: 1;
}
.workP:hover .works {
    max-height: inherit;
    opacity: 1;
}
.workC  {
    opacity: 0;
}